#clock {
    
}

#clock img {
    position: absolute;
}

#hour {
    
}

#minute {
    
}

#second {
    
}
#date {
    position: absolute;
    transform: translate(30%,3100%);
    text-align: center;
}
